/* Corpo */
body {
    font-family: 'Roboto', sans-serif;
}

/* Estilizando o cabeçalho */
.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

/* Estilizando o menu hamburger */
.navbar-toggler {
    background-color: #ffeae6;
}

/* Sobre o restaurante */
.section-title {
    font-family: 'Pacifico', cursive;
}

.section-title span {
    color: #e15f41;
}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

/* Eventos */
.text-colored {
    color: #e15f41;
}

/* Seção Cardápio */
.nav-cardapio {
    color: #e15f41;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

/* Redes Sociais */
.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

/* Melhorias e responsividade */
@media (max-width: 767px) { /* Definindo tamanho depois de 767 a visão já é pra tablet */
    .carousel-item img {
        height: 280px; /* Fixando o tamanho da imagem */
    }
}